/* your style begins here */
#map {
	height: 100%;
	position: relative;
	z-index: 0;
}
#buttons{
	position: fixed;
	display: inline-block;
	top: 10px;
	left: 10px;
	z-index: 1;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}