body {
  padding: 0px;
  margin: 0px;
  background-color: #101326;
  font-family: sans-serif;
}

svg {
    width: 100%
}

path {
    fill: none;
    stroke: #2B3541;
}

.ocean {
  fill: #546672;
  stroke-width: .8px;
  stroke: white;
}

.latlon {
    stroke: rgba(0,0,0, .5);
    stroke-width: .2px;
}

.country .land, .state .land {
    fill: #B6BFBA;
    stroke-width .3px;
}

g {
    fill: #91b65d;
}

#filters {
  display: inline;
  position: fixed;
  top: 10px;
  left: 20px;
}

label {
  color: white;
}