body {
  padding: 0px;
  margin: 0px;
  background-color: #000E1D;
  font-family: sans-serif;
}

svg {
    width: 100%
}

path {
    fill: none;
}

.ocean {
  fill: #003E51;
  stroke-width: .8px;
  /*stroke: white;*/
}

.latlon {
    stroke: #10566D;
    stroke-width: .5px;
    stroke-dasharray: 5;
}

/*.country .land, .state .land {*/
.land {
    fill: #799A3D;
    stroke-width: .8px;
    stroke: #ACC37E;
}

text{
  color: white;
  font-size: 5pt;
}

.plates .land{
    fill: none;
    stroke-width: 1px;
    stroke: black;
}

#filters {
  display: inline;
  position: fixed;
  top: 10px;
  left: 20px;
}

label {
  color: white;
}

div.label { 
    position: absolute;   
    color: white;  
    padding: 2px;       
    font: 12px sans-serif;    
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

@keyframes new-eq-pulse {
    0% {stroke-width: 0;}
    50% {stroke-width: 4;}
    100% {stroke-width: 0;}
}

circle {position: relative;}

.new-eq {
  stroke: white;
  animation: new-eq-pulse 2s linear infinite;
}

